.mvn
.project
.settings
insta-api-gateway/.project
insta-api-gateway/.classpath
insta-api-gateway/.factorypath
insta-api-gateway/.settings
insta-api-gateway/target/*
insta-oauth-service/.project
insta-oauth-service/.classpath
insta-oauth-service/.factorypath
insta-oauth-service/.settings
insta-oauth-service/target/*
insta-post-service/.project
insta-post-service/.classpath
insta-post-service/.factorypath
insta-post-service/.settings
insta-post-service/target/*
insta-service-discovery/.project
insta-service-discovery/.classpath
insta-service-discovery/.factorypath
insta-service-discovery/.settings
insta-service-discovery/target/*
insta-user-account-service/.project
insta-user-account-service/.classpath
insta-user-account-service/.factorypath
insta-user-account-service/.settings
insta-user-account-service/target/*