.classpath
.project
.settings
insta-api-gateway/.project
insta-api-gateway/.classpath
insta-api-gateway/.factorypath
insta-api-gateway/.settings
insta-api-gateway/target/*
insta-auth-service/.settings
insta-auth-service/.project
insta-auth-service/auth-client/.project
insta-auth-service/auth-client/.classpath
insta-auth-service/auth-client/.factorypath
insta-auth-service/auth-client/.settings
insta-auth-service/auth-client/target/*
insta-auth-service/auth-server/.project
insta-auth-service/auth-server/.classpath
insta-auth-service/auth-server/.factorypath
insta-auth-service/auth-server/.settings
insta-auth-service/auth-server/target/*
insta-post-service/.settings
insta-post-service/.project
insta-post-service/post-client/.project
insta-post-service/post-client/.classpath
insta-post-service/post-client/.factorypath
insta-post-service/post-client/.settings
insta-post-service/post-client/target/*
insta-post-service/post-server/.project
insta-post-service/post-server/.classpath
insta-post-service/post-server/.factorypath
insta-post-service/post-server/.settings
insta-post-service/post-server/target/*
insta-service-discovery/.project
insta-service-discovery/.classpath
insta-service-discovery/.factorypath
insta-service-discovery/.settings
insta-service-discovery/target/*
insta-user-profile-service/.settings
insta-user-profile-service/.project
insta-user-profile-service/user-profile-client/.project
insta-user-profile-service/user-profile-client/.classpath
insta-user-profile-service/user-profile-client/.factorypath
insta-user-profile-service/user-profile-client/.settings
insta-user-profile-service/user-profile-client/target/*
insta-user-profile-service/user-profile-server/.project
insta-user-profile-service/user-profile-server/.classpath
insta-user-profile-service/user-profile-server/.factorypath
insta-user-profile-service/user-profile-server/.settings
insta-user-profile-service/user-profile-server/target/*